<!DOCTYPE html>
<html>
    <head>
        <title> Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Bowl-o-Rama Bowling Alley</h1>
        <h2>We go to the bowls for you!</h2>
        <p>1400 New Found Band Bowling Place, Tulsa, OK 1941092</p>
    </body>
</html>
